/*
color: #d5d0d0;
background-color: #0A789D;
Playfair_144pt_SemiExpanded-Light.ttf
*/

@font-face {
    font-family: playfair;
    src: url(fonts/playfair/Playfair_144pt_SemiExpanded-Light.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/roboto/Roboto-VariableFont_wdth,wght.ttf);
}

html, 
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-family: roboto;
}

h1,
h2,
h3 {
    font-family: playfair, sans-serif;
}

body,
footer > .container {
    padding-inline: 5rem;
}

img {
    max-inline-size: 100%;
}

header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

header > picture {
    flex-direction: column;
    position: relative;
    right: -10px;
    flex: 2;
    text-align: center;
    padding-block: auto;
}

picture > .name {
    color: #fff9f9;
    font-size: 2.5rem;
    position: relative;
    top: -45px;
    font-family: playfair;
}

header > .about {
    margin-block: auto;   
    padding-left: 15px;
    background-color: #fff;
    box-shadow: 3px 3px 3px  #f0ebeb;
    flex: 3;
}

.about > .text-content {
    color: grey;
}

header > .about > .social {
    margin-top: 3rem;
    margin-right: 1rem;
    text-align: end;
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 100vw;
    max-width: 100%;
    height: 28rem;
    background-color: #0A789D;
    transform: skewY(-10deg);
    transform-origin: top left;
}

section {
    margin-block: 5rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1rem;
}

.top-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.top-container > .social {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.description-container {
    padding-inline: 2rem;
    border-left: 1px solid #d5d0d0;
    box-shadow: 3px 3px 3px  #d5d0d0;
}

.detail {
    color: gray;
}

footer {
    margin-top: 3rem;
    padding-block: 2rem;
    min-width: 100%;
    background-color: #0A789D;
    color: #fff;
    position: absolute;
    left: 0px;
}

footer > .container {
    display: flex;
    justify-content: space-between;
}

footer > .container > .contacts-container,
footer > .container > .image-container {
    flex: 1;
}

footer > .container > .contacts-container > .contacts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer > .container > .contacts-container > .contacts > * {
    display: flex;
    align-items: center;
    gap: 3px;
}




/* Tablet */
@media (max-width: 1023px) {

    body,
    footer > .container {
        padding-inline: 1rem;
    }

    .background {
        height: 40vh;
    }


    header > picture {
        display: flex;
        justify-items: center;
        justify-content: center;
    }
    
    picture > .name {
        font-size: 2rem;
        top: -35px;
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}


/* Mobile */
@media (max-width: 767px) {

    body,
    footer > .container {
        margin: 0px;
        padding: 0px;
        height: 100%;
    }

    
    header,
    section,
    footer > .container > .contacts-container {
        padding-inline: 10px;
    }

    header {
        flex-direction: column;
    }

    header > * {
        flex: 1;
    }

    header > picture {
        right: 0px;
    }

    header > .about > h2,
    section > h2 {
        
        text-align: center;
    }

    header > .about > .social {
        text-align: center;
    }

    section > .projects-container {
        grid-template-columns: 1fr;
    }

    footer {
        margin-top: 0rem;
        padding-block: 0rem;
    }

    footer > .container {
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    footer > .container > .contacts-container > h2 {
        text-align: center;
    }

    footer > .container > .contacts-container > .contacts .social {
        justify-content: center;
    }
}